<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.subratgupta.rentoo">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rentooo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rentooo_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterOwnerNumber" />
        <activity android:name=".RegisterOwnerProperty" />
        <activity android:name=".OwnerActivity" />
        <activity android:name=".OwnerHomePage" />
        <activity android:name=".RegisterTenant" />
        <activity android:name=".RegisterTenantNum" />
        <activity android:name=".TenantHomePage" />
        <activity android:name=".OwnerViewByTenant" />
        <activity android:name=".InterestedProfilesOnOwner" />
        <activity android:name=".ServiceProviderActivity" />
        <activity android:name=".RegisterService" />
        <activity android:name=".RoomView" />
        <activity
            android:name=".TenantHomeReg"
            android:label="@string/title_activity_tenant_home_reg"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SettingsActivity"></activity>
    </application>

</manifest>